@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 1.3em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(248, 170, 25, 0.884);
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Young Serif', serif;
   
}

footer{
    background-color:rgba(248, 170, 25, 0.541);
    text-align: center;
    justify-content: center;
    padding-top: 1px;
    }

.main-header{
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Young Serif', serif;
    
    
}


.main-header h1{
    font-size: 4em;
    margin-bottom: 1.5em;
    line-height: 1.5em;
    
}

.main-header h1 span{
    color: #a07f45;
}



img{
    width: 100%;
}
.main-header h1{
    position: relative;
    display: inline-block;
    padding: 4px 0;
   /*  font-size:1em;
    font-family: 'Concert One', sans-serif; */
    font-family: 'Crimson Text', serif;
    color: #291d08;
    text-decoration: none;
    transition: 0.5s;
    }
    .main-header h1 ::after {
    position: absolute;
    content: "";
    top: 100%;
    right: 0;
    width: 100%;
    height: 2px;
    background: #aa761c;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
    }
    .main-header h1  :hover {
    color: #eece88;
    }
    .main-header h1 :hover::after {
    transform: scaleX(1);
    transform-origin: left;
    }



.card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2em;
    margin-bottom: 2em;
    background-color: rgb(240, 190, 96);
    
    
   
}

.card h3{
    margin-bottom: 2em;
    
    
}

.card img{
    height: 400px;
    border-radius: 15px;
}

.card:nth-child(even) img{
    order: 2
}

a{
    color: #9b9b9b;
    text-decoration: none;
    
}

.btn{
    display: inline-block;
    background-color: black;
    color: #ffffff;
    padding: 0.8em 1.8em;
    margin-top: 2em;
    cursor: pointer;

}

.btn:hover{
    opacity: 0.8;
}

.mes{
     margin: 2em;
     display: flex;
     height: 20em;
     gap: 1em;
     
     
}

.mes div{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: 100%; */
    flex: 1;
    transition: all 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 15px;
}


.mes div:hover{
    flex: 4;
     
}

.mes:hover div:not(:hover){
    filter: grayscale(1) blur(1.5px) sepia(50%) saturate(15%);
}

.wrapper{
    width: 100%;
    margin: 0 auto;
    

}

main{
    display: block;
    background-color: rgb(56, 39, 17);
}

.btn{
    display: inline-block;
    background-color: black;
    color: #ffffff;
    padding: 0.8em 1.8em;
    margin-top: 2em;
    cursor: pointer;

}

.btn:hover{
    opacity: 0.8;
}



.data{
    margin: 2em;
    display: flex;
    height: 30em;
    gap: 1em;
   
    
}

.data div{
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   /* background-position: 100%; */
   flex: 1;
   transition: all 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
   border-radius: 20px;
   filter: grayscale(1) /* blur(0.9px) */  sepia(50%) saturate(15%);
}


.data div:hover{
   flex: 4;
   border-radius: 1.2px; 
   /* background: url(); */
   filter: none;
   
}

.data:hover div:not(:hover){
  
   background-color: #ffffff;
   
  
   
}



